<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KursServleti</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PregledProizvodaServlet</display-name>
    <servlet-name>PregledProizvodaServlet</servlet-name>
    <servlet-class>com.webshop.servleti.PregledProizvodaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PregledProizvodaServlet</servlet-name>
    <url-pattern>/PregledProizvodaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PregledKategorijaServlet</display-name>
    <servlet-name>PregledKategorijaServlet</servlet-name>
    <servlet-class>com.webshop.servleti.PregledKategorijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PregledKategorijaServlet</servlet-name>
    <url-pattern>/PregledKategorijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KupiProizvodServlet</display-name>
    <servlet-name>KupiProizvodServlet</servlet-name>
    <servlet-class>com.webshop.servleti.KupiProizvodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KupiProizvodServlet</servlet-name>
    <url-pattern>/KupiProizvodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PregledKorisnikaServlet</display-name>
    <servlet-name>PregledKorisnikaServlet</servlet-name>
    <servlet-class>com.webshop.servleti.PregledKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PregledKorisnikaServlet</servlet-name>
    <url-pattern>/PregledKorisnikaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginKorisnikaServlet</display-name>
    <servlet-name>LoginKorisnikaServlet</servlet-name>
    <servlet-class>com.webshop.servleti.LoginKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginKorisnikaServlet</servlet-name>
    <url-pattern>/LoginKorisnikaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiKorisnikaSerlvet</display-name>
    <servlet-name>ObrisiKorisnikaSerlvet</servlet-name>
    <servlet-class>com.webshop.servleti.ObrisiKorisnikaSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiKorisnikaSerlvet</servlet-name>
    <url-pattern>/ObrisiKorisnikaSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajKorisnikaServlet</display-name>
    <servlet-name>DodajKorisnikaServlet</servlet-name>
    <servlet-class>com.webshop.servleti.DodajKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajKorisnikaServlet</servlet-name>
    <url-pattern>/DodajKorisnikaServlet</url-pattern>
  </servlet-mapping>
</web-app>